* {
    box-sizing: border-box;
    font-family: VT323;
}

@keyframes buttonGlow {
0% {background: #00851d; }
   100% {background: black;}
  
  }

@media screen and (min-width: 800px){
* { font-size: calc(1em + .1vw) }

    .whole {
        display: grid;
        grid-template-rows: 30% 1fr; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "left top right"
            "left center right";
    }
    .leftBogImg{ 
        width:100%;
        grid-area: left;
    }
    
    .rightBogImg{
        width: 100%;
        grid-area: right;
    }
    
    }
@media screen and (min-width:320px) and (max-width: 800px){
*{ font-size: calc(1em + .2vw) }
    .whole {
        display: grid;
        grid-template-rows: 20% 1fr; 
        grid-template-columns: 10% 1fr 10%;
        grid-template-areas: 
            "left top right"
            "left center right";
            background-image: url("./assets/bog_splash.png");
            -webkit-background-size: cover;
            -moz-background-size: center cover;
            background-size: cover;
            background-position: center top;
           
        }
            
    

    .rightBogImg{ 
       display: none;
    }
    .leftBogImg{display: none;
    }

    .answerResponse, .question{ background-image:  linear-gradient(black 2%,  #00851d 10%, black 2%);

    }
}



body{
    background-image: linear-gradient(black 2%,  #00851d 50%, black 100%);
}


main {
    color: #00851d;
    text-shadow: 0px 0px 7px black;
    
}

fieldset{
    background-image:  linear-gradient(black 2%,  #00851d 50%);
}

button{
    box-shadow: 1px 1px black;
    width: 100%;
    height: 30%;
    color: #00851d;
    animation-name: buttonGlow;
    animation-duration: 2.5s;
    background: black;
    
}

h1{
    margin: 0;
}
h2 {
    text-align: center;
 }

 .whole{
    height: 100%;
}

.intro {
   
    text-align: center;
}


.counter{
    text-align: center;
}

.sidebar-left{
   
    grid-area: left;
    
}
.sidebar-right{
   
    grid-area: right;
    
}
.top{
    grid-area: top;
    text-shadow: 1px 1px 10px black;
    color: #00851d;
    background: linear-gradient( #00851d -90%, black 100%);
    box-shadow: 1px 1px 10px black;
}

